@page
@model Impresora3d.App.Fontend.Pages.ListModel
@{
}
<h5>IMPRESORAS 3D</h5>

<table class="table table-dark table-striped">
    <tr>
    <th>Placa inventario</th>
    <th>Tipo</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Pais de origen</th>
    <th>Volumen de impresion</th>
    <th>Software</th>
    <th>Velocidad de impresion</th>
    <th>Editar</th>
    <th>Eliminar</th>
    
  </tr>
    @foreach (var impresora in Model.impresoras)
    {
        <tr>
            <td>@impresora.PlacaInventario</td>
            <td>@impresora.Tipo</td>
            <td>@impresora.Marca</td>
            <td>@impresora.Modelo</td>
            <td>@impresora.PaisDeOrigen</td>
            <td>@impresora.VolumenImpresion</td>
            <td>@impresora.Software</td>
            <td>@impresora.VelocidadImpresion</td>
            

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-impresoraId="@impresora.Id">
                <i class="fa-solid fa-pencil"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete" asp-route-impresoraId="@impresora.Id">
                <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
            
        </tr>
    }
</table>

<a class="button button" asp-page="./Create">Agregar impresora
<i class="fas fa-address-book fa-lg" aria-hidden="true"></i></a>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

</style>