@page
@model Impresora3d.App.Fontend.Pages.ListModel
@{
}
<h5>IMPRESORAS 3D</h5>

<table class="table table-striped">
    @foreach (var impresora in Model.impresoras)
    {
        <tr>
            <td>@impresora.PlacaInventario</td>
            <td>@impresora.Tipo</td>
            <td>@impresora.Marca</td>
            <td>@impresora.Modelo</td>
            <td>@impresora.PaisDeOrigen</td>
            <td>@impresora.VolumenImpresion</td>
            <td>@impresora.Software</td>
            <td>@impresora.VelocidadImpresion</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-impresoraId="@impresora.Id">
                <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                </a>
            </td>
                  
            
        </tr>
    }
</table>
